openapi: 3.1.0
info:
  title: Visitas API
  version: 1.0.0
  description: |
    在宅医療特化型AIプラットフォーム「Visitas」のREST API仕様書

    ## 概要
    - **ベースURL**: `https://api.visitas.app/v1`
    - **認証方式**: Firebase Authentication (Bearer Token)
    - **レート制限**: 1000リクエスト/時

    ## セキュリティ
    - すべてのエンドポイントはHTTPS必須
    - 3省2ガイドライン準拠の医療情報保護
    - CMEK暗号化によるデータ保存

  contact:
    name: Visitas API Support
    email: api-support@visitas.app
  license:
    name: Proprietary

servers:
  - url: https://api.visitas.app/v1
    description: Production
  - url: https://staging-api.visitas.app/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local Development

security:
  - BearerAuth: []

tags:
  - name: Patients
    description: 患者マスターデータ管理
  - name: Patient Identifiers
    description: 患者識別子管理 (マイナンバー、保険証番号等)
  - name: Health
    description: ヘルスチェック

paths:
  /health:
    get:
      tags:
        - Health
      summary: ヘルスチェック
      description: APIサーバーの稼働状況を確認
      security: []
      responses:
        '200':
          description: サーバー正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: 1.0.0

  /patients:
    get:
      tags:
        - Patients
      summary: 患者一覧取得
      description: |
        担当患者の一覧を取得します。
        Row-Level Securityにより、認証ユーザーに割り当てられた患者のみ取得可能。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: active
          in: query
          description: アクティブな患者のみ取得
          schema:
            type: boolean
            default: true
        - name: sort
          in: query
          schema:
            type: string
            enum: [name_kana, birth_date, created_at]
            default: name_kana
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Patient'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Patients
      summary: 患者登録
      description: 新規患者を登録します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Patients
      summary: 患者詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Patients
      summary: 患者情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Patients
      summary: 患者削除 (論理削除)
      description: |
        患者データを論理削除します。
        医療法に基づき、物理削除は禁止されています。
      responses:
        '204':
          description: 削除成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID Token

  parameters:
    PatientId:
      name: patientId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 患者ID (UUID v4)

  schemas:
    Patient:
      type: object
      required:
        - patient_id
        - name_history
        - birth_date
        - gender
      properties:
        patient_id:
          type: string
          format: uuid
          description: 患者ID
        name_history:
          type: array
          description: JSONB array of name records with validity periods
          items:
            $ref: '#/components/schemas/NameRecord'
        current_family_name:
          type: string
          description: Generated column from name_history
          readOnly: true
        current_given_name:
          type: string
          description: Generated column from name_history
          readOnly: true
        primary_phone:
          type: string
          description: Generated column from contact_points
          readOnly: true
        current_prefecture:
          type: string
          description: Generated column from addresses
          readOnly: true
        current_city:
          type: string
          description: Generated column from addresses
          readOnly: true
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        consent_status:
          type: string
          description: Consent management status
        consent_obtained_at:
          type: string
          format: date-time
        consent_withdrawn_at:
          type: string
          format: date-time
        deleted:
          type: boolean
          description: Soft delete flag
        deleted_at:
          type: string
          format: date-time
        deleted_reason:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        updated_at:
          type: string
          format: date-time
        updated_by:
          type: string

    NameRecord:
      type: object
      required:
        - family
        - given
        - valid_from
      properties:
        family:
          type: string
          example: 山田
          description: Family name (姓)
        given:
          type: string
          example: 太郎
          description: Given name (名)
        kana:
          type: string
          example: ヤマダ タロウ
          description: Kana reading
        valid_from:
          type: string
          format: date-time
          description: Start of validity period
        valid_to:
          type: string
          format: date-time
          description: End of validity period (null if current)
        change_reason:
          type: string
          description: Reason for name change (婚姻, 離婚, etc.)

    ContactPoint:
      type: object
      required:
        - system
        - value
        - rank
      properties:
        system:
          type: string
          enum: [phone, email, fax]
        value:
          type: string
        use:
          type: string
          enum: [home, work, mobile]
        rank:
          type: integer
          minimum: 1
          description: 1 = primary
        verified_at:
          type: string
          format: date-time

    Address:
      type: object
      required:
        - use
        - prefecture
        - city
        - line
        - valid_from
      properties:
        use:
          type: string
          enum: [home, billing]
          description: home or billing
        postal_code:
          type: string
        prefecture:
          type: string
        city:
          type: string
        line:
          type: string
          description: Street address
        building:
          type: string
        geolocation:
          $ref: '#/components/schemas/GeoLocation'
        access_instructions:
          type: string
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time

    GeoLocation:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180

    PatientCreateRequest:
      type: object
      required:
        - name
        - birth_date
        - gender
      properties:
        name:
          $ref: '#/components/schemas/NameRecord'
          description: Initial name record (will be stored in name_history)
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        consent_status:
          type: string
        consent_obtained_at:
          type: string
          format: date-time

    PatientUpdateRequest:
      type: object
      properties:
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        add_name:
          $ref: '#/components/schemas/NameRecord'
          description: Add a new name to name_history
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
          description: Replace entire contact_points array
        add_contact_point:
          $ref: '#/components/schemas/ContactPoint'
          description: Add a single contact point
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: Replace entire addresses array
        add_address:
          $ref: '#/components/schemas/Address'
          description: Add a single address
        consent_status:
          type: string
        consent_obtained_at:
          type: string
          format: date-time
        consent_withdrawn_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: リクエスト不正
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: bad_request
            message: Invalid request parameters

    Unauthorized:
      description: 認証エラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or missing authentication token

    NotFound:
      description: リソースが見つかりません
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found

    InternalServerError:
      description: サーバーエラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: internal_server_error
            message: An unexpected error occurred
