openapi: 3.1.0
info:
  title: Visitas API
  version: 1.0.0
  description: |
    在宅医療特化型AIプラットフォーム「Visitas」のREST API仕様書

    ## 概要
    - **ベースURL**: `https://api.visitas.app/v1`
    - **認証方式**: Firebase Authentication (Bearer Token)
    - **レート制限**: 1000リクエスト/時

    ## セキュリティ
    - すべてのエンドポイントはHTTPS必須
    - 3省2ガイドライン準拠の医療情報保護
    - CMEK暗号化によるデータ保存

  contact:
    name: Visitas API Support
    email: api-support@visitas.app
  license:
    name: Proprietary

servers:
  - url: https://api.visitas.app/v1
    description: Production
  - url: https://staging-api.visitas.app/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local Development

security:
  - BearerAuth: []

tags:
  - name: Patients
    description: 患者マスターデータ管理
  - name: Patient Identifiers
    description: 患者識別子管理 (マイナンバー、保険証番号等)
  - name: Social Profiles
    description: 患者社会的背景管理 (独居状況、介護者情報等)
  - name: Coverages
    description: 保険情報管理 (医療保険、介護保険、公費負担)
  - name: Medical Conditions
    description: 病名・既往歴管理 (FHIR準拠)
  - name: Allergy Intolerances
    description: アレルギー・副作用歴管理 (FHIR準拠)
  - name: Visit Schedules
    description: 訪問スケジュール管理 (Phase 1)
  - name: Clinical Observations
    description: バイタル・ADL評価管理 (Phase 1, FHIR準拠)
  - name: Care Plans
    description: ケア計画管理 (Phase 1, FHIR準拠)
  - name: Medication Orders
    description: 処方オーダー管理 (Phase 1, FHIR準拠)
  - name: ACP Records
    description: ACP (事前ケア計画) 記録管理 (Phase 1)
  - name: Medical Records
    description: カルテ（診療録）管理 (Phase 1 Sprint 6)
  - name: Medical Record Templates
    description: カルテテンプレート管理 (Phase 1 Sprint 6)
  - name: Health
    description: ヘルスチェック

paths:
  /health:
    get:
      tags:
        - Health
      summary: ヘルスチェック
      description: APIサーバーの稼働状況を確認
      security: []
      responses:
        '200':
          description: サーバー正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: 1.0.0

  /patients:
    get:
      tags:
        - Patients
      summary: 患者一覧取得
      description: |
        担当患者の一覧を取得します。
        Row-Level Securityにより、認証ユーザーに割り当てられた患者のみ取得可能。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: active
          in: query
          description: アクティブな患者のみ取得
          schema:
            type: boolean
            default: true
        - name: sort
          in: query
          schema:
            type: string
            enum: [name_kana, birth_date, created_at]
            default: name_kana
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Patient'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Patients
      summary: 患者登録
      description: 新規患者を登録します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Patients
      summary: 患者詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Patients
      summary: 患者情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Patients
      summary: 患者削除 (論理削除)
      description: |
        患者データを論理削除します。
        医療法に基づき、物理削除は禁止されています。
      responses:
        '204':
          description: 削除成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/social-profiles:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Social Profiles
      summary: 社会的背景一覧取得
      parameters:
        - name: current_only
          in: query
          schema:
            type: boolean
            default: false
          description: 現在有効なプロファイルのみ取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/SocialProfile'
                  total:
                    type: integer

    post:
      tags:
        - Social Profiles
      summary: 社会的背景登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialProfileCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  message:
                    type: string

  /patients/{patientId}/social-profiles/{profileId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: profileId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Social Profiles
      summary: 社会的背景詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialProfile'

    put:
      tags:
        - Social Profiles
      summary: 社会的背景更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialProfileUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Social Profiles
      summary: 社会的背景削除
      responses:
        '204':
          description: 削除成功

  /patients/{patientId}/coverages:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Coverages
      summary: 保険情報一覧取得
      parameters:
        - name: insurance_type
          in: query
          schema:
            type: string
            enum: [medical, long_term_care, public_expense]
        - name: active_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  coverages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coverage'
                  total:
                    type: integer

    post:
      tags:
        - Coverages
      summary: 保険情報登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  coverage_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /patients/{patientId}/coverages/{coverageId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: coverageId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Coverages
      summary: 保険情報詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coverage'

    put:
      tags:
        - Coverages
      summary: 保険情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Coverages
      summary: 保険情報削除
      responses:
        '204':
          description: 削除成功

  /patients/{patientId}/conditions:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Medical Conditions
      summary: 病名・既往歴一覧取得
      parameters:
        - name: active_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  conditions:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicalCondition'
                  total:
                    type: integer

    post:
      tags:
        - Medical Conditions
      summary: 病名・既往歴登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalConditionCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  condition_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /patients/{patientId}/conditions/{conditionId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: conditionId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Medical Conditions
      summary: 病名詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalCondition'

    put:
      tags:
        - Medical Conditions
      summary: 病名更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalConditionUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Medical Conditions
      summary: 病名削除
      responses:
        '204':
          description: 削除成功

  /patients/{patientId}/allergies:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報一覧取得
      parameters:
        - name: active_only
          in: query
          schema:
            type: boolean
            default: false
        - name: medication_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  allergies:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllergyIntolerance'
                  total:
                    type: integer

    post:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyIntoleranceCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  allergy_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /patients/{patientId}/allergies/{allergyId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: allergyId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntolerance'

    put:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyIntoleranceUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報削除
      responses:
        '204':
          description: 削除成功

  # Patient Identifiers (Phase 1 - Implemented)
  /patients/{patientId}/identifiers:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Patient Identifiers
      summary: 患者識別子一覧取得
      description: |
        患者の識別子（マイナンバー、保険証番号等）を取得します。
        マイナンバーは暗号化されて保存されており、decrypt=trueパラメータで復号化可能です。
      parameters:
        - name: decrypt
          in: query
          description: マイナンバーを復号化して返却
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifiers:
                    type: array
                    items:
                      $ref: '#/components/schemas/PatientIdentifier'
                  total:
                    type: integer

    post:
      tags:
        - Patient Identifiers
      summary: 患者識別子作成
      description: マイナンバーは自動的にKMS暗号化されます
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientIdentifierCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  identifier_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  message:
                    type: string

  /patients/{patientId}/identifiers/{identifierId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: identifierId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Patient Identifiers
      summary: 患者識別子詳細取得
      parameters:
        - name: decrypt
          in: query
          description: マイナンバーを復号化して返却
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PatientIdentifier'

    put:
      tags:
        - Patient Identifiers
      summary: 患者識別子更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientIdentifierUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Patient Identifiers
      summary: 患者識別子削除
      responses:
        '204':
          description: 削除成功

  # Visit Schedules (Phase 1 - Implemented)
  /patients/{patientId}/schedules:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Visit Schedules
      summary: 訪問スケジュール一覧取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/VisitSchedule'

    post:
      tags:
        - Visit Schedules
      summary: 訪問スケジュール作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitScheduleCreateRequest'
      responses:
        '201':
          description: 作成成功

  /patients/{patientId}/schedules/{scheduleId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: scheduleId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Visit Schedules
      summary: 訪問スケジュール詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisitSchedule'

    put:
      tags:
        - Visit Schedules
      summary: 訪問スケジュール更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisitScheduleUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Visit Schedules
      summary: 訪問スケジュール削除
      responses:
        '204':
          description: 削除成功

  # Clinical Observations (Phase 1 - Implemented)
  /patients/{patientId}/observations:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Clinical Observations
      summary: バイタル・ADL評価一覧取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ClinicalObservation'

    post:
      tags:
        - Clinical Observations
      summary: バイタル・ADL評価作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalObservationCreateRequest'
      responses:
        '201':
          description: 作成成功

  /patients/{patientId}/observations/{observationId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: observationId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Clinical Observations
      summary: バイタル・ADL評価詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClinicalObservation'

    put:
      tags:
        - Clinical Observations
      summary: バイタル・ADL評価更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClinicalObservationUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Clinical Observations
      summary: バイタル・ADL評価削除
      responses:
        '204':
          description: 削除成功

  # Care Plans (Phase 1 - Implemented)
  /patients/{patientId}/care-plans:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Care Plans
      summary: ケア計画一覧取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CarePlan'

    post:
      tags:
        - Care Plans
      summary: ケア計画作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarePlanCreateRequest'
      responses:
        '201':
          description: 作成成功

  /patients/{patientId}/care-plans/{carePlanId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: carePlanId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Care Plans
      summary: ケア計画詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CarePlan'

    put:
      tags:
        - Care Plans
      summary: ケア計画更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CarePlanUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Care Plans
      summary: ケア計画削除
      responses:
        '204':
          description: 削除成功

  # Medication Orders (Phase 1 - Implemented)
  /patients/{patientId}/medication-orders:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Medication Orders
      summary: 処方オーダー一覧取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicationOrder'

    post:
      tags:
        - Medication Orders
      summary: 処方オーダー作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicationOrderCreateRequest'
      responses:
        '201':
          description: 作成成功

  /patients/{patientId}/medication-orders/{orderId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: orderId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Medication Orders
      summary: 処方オーダー詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicationOrder'

    put:
      tags:
        - Medication Orders
      summary: 処方オーダー更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicationOrderUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Medication Orders
      summary: 処方オーダー削除
      responses:
        '204':
          description: 削除成功

  # ACP Records (Phase 1 - Implemented)
  /patients/{patientId}/acp-records:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - ACP Records
      summary: ACP記録一覧取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ACPRecord'

    post:
      tags:
        - ACP Records
      summary: ACP記録作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACPRecordCreateRequest'
      responses:
        '201':
          description: 作成成功

  /patients/{patientId}/acp-records/{recordId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: recordId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - ACP Records
      summary: ACP記録詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ACPRecord'

    put:
      tags:
        - ACP Records
      summary: ACP記録更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ACPRecordUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - ACP Records
      summary: ACP記録削除
      responses:
        '204':
          description: 削除成功

  # Medical Records (Phase 1 Sprint 6 - Implemented)
  /patients/{patientId}/medical-records:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Medical Records
      summary: カルテ一覧取得
      description: 患者のカルテ（診療録）一覧を取得します
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [draft, in_progress, completed, cancelled]
        - name: visit_type
          in: query
          schema:
            type: string
            enum: [regular, emergency, initial, follow_up, terminal_care]
        - name: visit_date_from
          in: query
          schema:
            type: string
            format: date-time
        - name: visit_date_to
          in: query
          schema:
            type: string
            format: date-time
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecord'

    post:
      tags:
        - Medical Records
      summary: カルテ作成
      description: 新規カルテを作成します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalRecordCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'
        '400':
          $ref: '#/components/responses/BadRequest'

  /patients/{patientId}/medical-records/latest:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Medical Records
      summary: 最新カルテ取得
      description: 患者の最新カルテを取得します
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 10
            maximum: 50
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecord'

  /patients/{patientId}/medical-records/from-template:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    post:
      tags:
        - Medical Records
      summary: テンプレートからカルテ作成
      description: 指定したテンプレートを基にカルテを作成します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFromTemplateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'

  /patients/{patientId}/medical-records/{recordId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid
        description: カルテID

    get:
      tags:
        - Medical Records
      summary: カルテ詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Medical Records
      summary: カルテ更新
      description: |
        カルテを更新します。楽観的ロックを使用する場合は`expected_version`を指定してください。
        バージョン不一致の場合は409 Conflictを返します。
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalRecordUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'
        '409':
          $ref: '#/components/responses/Conflict'

    delete:
      tags:
        - Medical Records
      summary: カルテ削除（論理削除）
      responses:
        '204':
          description: 削除成功
        '404':
          $ref: '#/components/responses/NotFound'

  /medical-records/{recordId}/copy:
    parameters:
      - name: recordId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    post:
      tags:
        - Medical Records
      summary: カルテコピー
      description: 既存カルテをコピーして新規カルテを作成します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CopyAsMedicalRecordRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecord'

  /medical-records/drafts:
    get:
      tags:
        - Medical Records
      summary: 下書きカルテ一覧取得
      description: 自分が作成中の下書き・進行中カルテを取得します
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecord'

  # Medical Record Templates (Phase 1 Sprint 6 - Implemented)
  /medical-record-templates:
    get:
      tags:
        - Medical Record Templates
      summary: テンプレート一覧取得
      parameters:
        - name: specialty
          in: query
          schema:
            type: string
        - name: is_system
          in: query
          schema:
            type: boolean
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecordTemplate'

    post:
      tags:
        - Medical Record Templates
      summary: テンプレート作成
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalRecordTemplateCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordTemplate'

  /medical-record-templates/system:
    get:
      tags:
        - Medical Record Templates
      summary: システムテンプレート一覧取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecordTemplate'

  /medical-record-templates/specialty/{specialty}:
    parameters:
      - name: specialty
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Medical Record Templates
      summary: 診療科別テンプレート取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MedicalRecordTemplate'

  /medical-record-templates/{templateId}:
    parameters:
      - name: templateId
        in: path
        required: true
        schema:
          type: string
          format: uuid

    get:
      tags:
        - Medical Record Templates
      summary: テンプレート詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordTemplate'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags:
        - Medical Record Templates
      summary: テンプレート更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalRecordTemplateUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalRecordTemplate'

    delete:
      tags:
        - Medical Record Templates
      summary: テンプレート削除
      responses:
        '204':
          description: 削除成功
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID Token

  parameters:
    PatientId:
      name: patientId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 患者ID (UUID v4)

  schemas:
    Patient:
      type: object
      required:
        - patient_id
        - name_history
        - birth_date
        - gender
      properties:
        patient_id:
          type: string
          format: uuid
          description: 患者ID
        name_history:
          type: array
          description: JSONB array of name records with validity periods
          items:
            $ref: '#/components/schemas/NameRecord'
        current_family_name:
          type: string
          description: Generated column from name_history
          readOnly: true
        current_given_name:
          type: string
          description: Generated column from name_history
          readOnly: true
        primary_phone:
          type: string
          description: Generated column from contact_points
          readOnly: true
        current_prefecture:
          type: string
          description: Generated column from addresses
          readOnly: true
        current_city:
          type: string
          description: Generated column from addresses
          readOnly: true
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        consent_status:
          type: string
          description: Consent management status
        consent_obtained_at:
          type: string
          format: date-time
        consent_withdrawn_at:
          type: string
          format: date-time
        deleted:
          type: boolean
          description: Soft delete flag
        deleted_at:
          type: string
          format: date-time
        deleted_reason:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        updated_at:
          type: string
          format: date-time
        updated_by:
          type: string

    NameRecord:
      type: object
      required:
        - family
        - given
        - valid_from
      properties:
        family:
          type: string
          example: 山田
          description: Family name (姓)
        given:
          type: string
          example: 太郎
          description: Given name (名)
        kana:
          type: string
          example: ヤマダ タロウ
          description: Kana reading
        valid_from:
          type: string
          format: date-time
          description: Start of validity period
        valid_to:
          type: string
          format: date-time
          description: End of validity period (null if current)
        change_reason:
          type: string
          description: Reason for name change (婚姻, 離婚, etc.)

    ContactPoint:
      type: object
      required:
        - system
        - value
        - rank
      properties:
        system:
          type: string
          enum: [phone, email, fax]
        value:
          type: string
        use:
          type: string
          enum: [home, work, mobile]
        rank:
          type: integer
          minimum: 1
          description: 1 = primary
        verified_at:
          type: string
          format: date-time

    Address:
      type: object
      required:
        - use
        - prefecture
        - city
        - line
        - valid_from
      properties:
        use:
          type: string
          enum: [home, billing]
          description: home or billing
        postal_code:
          type: string
        prefecture:
          type: string
        city:
          type: string
        line:
          type: string
          description: Street address
        building:
          type: string
        geolocation:
          $ref: '#/components/schemas/GeoLocation'
        access_instructions:
          type: string
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time

    GeoLocation:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180

    PatientCreateRequest:
      type: object
      required:
        - name
        - birth_date
        - gender
      properties:
        name:
          $ref: '#/components/schemas/NameRecord'
          description: Initial name record (will be stored in name_history)
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        consent_status:
          type: string
        consent_obtained_at:
          type: string
          format: date-time

    PatientUpdateRequest:
      type: object
      properties:
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        add_name:
          $ref: '#/components/schemas/NameRecord'
          description: Add a new name to name_history
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
          description: Replace entire contact_points array
        add_contact_point:
          $ref: '#/components/schemas/ContactPoint'
          description: Add a single contact point
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: Replace entire addresses array
        add_address:
          $ref: '#/components/schemas/Address'
          description: Add a single address
        consent_status:
          type: string
        consent_obtained_at:
          type: string
          format: date-time
        consent_withdrawn_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean

    PatientIdentifier:
      type: object
      required:
        - identifier_id
        - patient_id
        - identifier_type
        - identifier_value
      properties:
        identifier_id:
          type: string
          format: uuid
          description: 識別子ID
        patient_id:
          type: string
          format: uuid
          description: 患者ID
        identifier_type:
          type: string
          enum: [my_number, insurance_id, care_insurance_id, mrn, other]
          description: |
            識別子タイプ
            - my_number: マイナンバー（KMS暗号化）
            - insurance_id: 健康保険証番号
            - care_insurance_id: 介護保険証番号
            - mrn: Medical Record Number（カルテ番号）
            - other: その他
        identifier_value:
          type: string
          description: 識別子の値（マイナンバーの場合は暗号化済み、decrypt=trueで復号化可能）
        is_primary:
          type: boolean
          description: このタイプの主要識別子かどうか
          default: false
        issuer_name:
          type: string
          description: 発行機関名（保険証等）
        issuer_code:
          type: string
          description: 発行機関コード
        valid_from:
          type: string
          format: date-time
          description: 有効期間開始
        valid_to:
          type: string
          format: date-time
          description: 有効期間終了
        verification_status:
          type: string
          enum: [verified, unverified, expired, invalid]
          description: 検証ステータス
          default: unverified
        verified_by:
          type: string
          description: 検証者ID
        verified_at:
          type: string
          format: date-time
          description: 検証日時
        notes:
          type: string
          description: 備考
        deleted:
          type: boolean
          default: false
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        updated_at:
          type: string
          format: date-time
        updated_by:
          type: string

    PatientIdentifierCreateRequest:
      type: object
      required:
        - identifier_type
        - identifier_value
      properties:
        identifier_type:
          type: string
          enum: [my_number, insurance_id, care_insurance_id, mrn, other]
        identifier_value:
          type: string
          description: 識別子の値（マイナンバーは12桁の数字）
        is_primary:
          type: boolean
          default: false
        issuer_name:
          type: string
          description: 保険証の場合は必須
        issuer_code:
          type: string
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        notes:
          type: string

    PatientIdentifierUpdateRequest:
      type: object
      properties:
        is_primary:
          type: boolean
        issuer_name:
          type: string
        issuer_code:
          type: string
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        verification_status:
          type: string
          enum: [verified, unverified, expired, invalid]
        verified_by:
          type: string
        verified_at:
          type: string
          format: date-time
        notes:
          type: string

    SocialProfile:
      type: object
      required:
        - profile_id
        - patient_id
        - content
      properties:
        profile_id:
          type: string
        patient_id:
          type: string
        profile_version:
          type: integer
        content:
          type: object
          description: JSONB content with living situation, key persons, financial background
        lives_alone:
          type: boolean
          readOnly: true
        requires_caregiver_support:
          type: boolean
          readOnly: true
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        assessed_by:
          type: string
        assessed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SocialProfileCreateRequest:
      type: object
      required:
        - patient_id
        - content
        - valid_from
      properties:
        patient_id:
          type: string
        content:
          type: object
        valid_from:
          type: string
          format: date-time
        assessed_by:
          type: string
        assessed_at:
          type: string
          format: date-time

    SocialProfileUpdateRequest:
      type: object
      properties:
        content:
          type: object
        valid_to:
          type: string
          format: date-time
        assessment_notes:
          type: string

    Coverage:
      type: object
      required:
        - coverage_id
        - patient_id
        - insurance_type
        - details
      properties:
        coverage_id:
          type: string
        patient_id:
          type: string
        insurance_type:
          type: string
          enum: [medical, long_term_care, public_expense]
        details:
          type: object
          description: JSONB insurance details
        care_level_code:
          type: string
          readOnly: true
        copay_rate:
          type: integer
          readOnly: true
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, expired, suspended, terminated]
        priority:
          type: integer
          minimum: 1
        verification_status:
          type: string
        verified_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CoverageCreateRequest:
      type: object
      required:
        - patient_id
        - insurance_type
        - details
        - valid_from
        - status
        - priority
      properties:
        patient_id:
          type: string
        insurance_type:
          type: string
          enum: [medical, long_term_care, public_expense]
        details:
          type: object
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        status:
          type: string
        priority:
          type: integer

    CoverageUpdateRequest:
      type: object
      properties:
        details:
          type: object
        valid_to:
          type: string
          format: date-time
        status:
          type: string
        priority:
          type: integer
        verification_status:
          type: string

    MedicalCondition:
      type: object
      required:
        - condition_id
        - patient_id
        - clinical_status
        - verification_status
        - display_name
      properties:
        condition_id:
          type: string
        patient_id:
          type: string
        clinical_status:
          type: string
          enum: [active, recurrence, relapse, inactive, remission, resolved]
        verification_status:
          type: string
          enum: [unconfirmed, provisional, differential, confirmed, refuted, entered-in-error]
        category:
          type: string
        severity:
          type: string
          enum: [mild, moderate, severe, life-threatening]
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        body_site:
          type: string
        onset_date:
          type: string
          format: date
        onset_age:
          type: integer
        abatement_date:
          type: string
          format: date
        clinical_notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MedicalConditionCreateRequest:
      type: object
      required:
        - patient_id
        - clinical_status
        - verification_status
        - display_name
      properties:
        patient_id:
          type: string
        clinical_status:
          type: string
        verification_status:
          type: string
        category:
          type: string
        severity:
          type: string
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        onset_date:
          type: string
          format: date
        clinical_notes:
          type: string

    MedicalConditionUpdateRequest:
      type: object
      properties:
        clinical_status:
          type: string
        verification_status:
          type: string
        severity:
          type: string
        abatement_date:
          type: string
          format: date
        clinical_notes:
          type: string

    AllergyIntolerance:
      type: object
      required:
        - allergy_id
        - patient_id
        - clinical_status
        - verification_status
        - type
        - category
        - criticality
        - display_name
      properties:
        allergy_id:
          type: string
        patient_id:
          type: string
        clinical_status:
          type: string
          enum: [active, inactive, resolved]
        verification_status:
          type: string
          enum: [unconfirmed, confirmed, refuted]
        type:
          type: string
          enum: [allergy, intolerance]
        category:
          type: string
          enum: [food, medication, environment, biologic]
        criticality:
          type: string
          enum: [low, high, unable-to-assess]
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        reactions:
          type: array
          items:
            type: object
        max_severity:
          type: string
          readOnly: true
        onset_date:
          type: string
          format: date
        last_occurrence_date:
          type: string
          format: date
        clinical_notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AllergyIntoleranceCreateRequest:
      type: object
      required:
        - patient_id
        - clinical_status
        - verification_status
        - type
        - category
        - criticality
        - display_name
      properties:
        patient_id:
          type: string
        clinical_status:
          type: string
        verification_status:
          type: string
        type:
          type: string
        category:
          type: string
        criticality:
          type: string
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        reactions:
          type: array
          items:
            type: object
        onset_date:
          type: string
          format: date
        clinical_notes:
          type: string

    AllergyIntoleranceUpdateRequest:
      type: object
      properties:
        clinical_status:
          type: string
        verification_status:
          type: string
        criticality:
          type: string
        reactions:
          type: array
          items:
            type: object
        last_occurrence_date:
          type: string
          format: date
        clinical_notes:
          type: string

    MedicalRecord:
      type: object
      required:
        - record_id
        - patient_id
        - visit_started_at
        - visit_type
        - performed_by
        - status
        - source_type
      properties:
        record_id:
          type: string
          format: uuid
          description: カルテID
        patient_id:
          type: string
          format: uuid
          description: 患者ID
        visit_started_at:
          type: string
          format: date-time
          description: 診療開始日時
        visit_ended_at:
          type: string
          format: date-time
          description: 診療終了日時
        visit_type:
          type: string
          enum: [regular, emergency, initial, follow_up, terminal_care]
          description: |
            訪問種別
            - regular: 定期訪問
            - emergency: 緊急訪問
            - initial: 初診
            - follow_up: 再診
            - terminal_care: 終末期ケア
        performed_by:
          type: string
          description: 診療担当者ID
        status:
          type: string
          enum: [draft, in_progress, completed, cancelled]
          description: ステータス
        schedule_id:
          type: string
          format: uuid
          description: 関連スケジュールID
        soap_content:
          type: object
          description: |
            SOAP形式のカルテ内容（JSONB）
            - subjective: 主観的情報（患者の訴え）
            - objective: 客観的情報（バイタル、所見）
            - assessment: 評価（診断）
            - plan: 計画（治療方針）
        template_id:
          type: string
          format: uuid
          description: 使用したテンプレートID
        source_record_id:
          type: string
          format: uuid
          description: コピー元カルテID
        source_type:
          type: string
          enum: [manual, voice_to_text, ai_generated, template]
          description: 作成方法
        audio_file_url:
          type: string
          description: 音声ファイルURL（音声入力の場合）
        soap_completed:
          type: boolean
          description: SOAP入力完了フラグ
        has_ai_assistance:
          type: boolean
          description: AI支援使用フラグ
        version:
          type: integer
          description: 楽観的ロック用バージョン番号
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        updated_at:
          type: string
          format: date-time
        updated_by:
          type: string
        deleted:
          type: boolean
        deleted_at:
          type: string
          format: date-time
        deleted_by:
          type: string

    MedicalRecordCreateRequest:
      type: object
      required:
        - visit_started_at
        - visit_type
        - performed_by
        - status
        - source_type
      properties:
        visit_started_at:
          type: string
          format: date-time
        visit_ended_at:
          type: string
          format: date-time
        visit_type:
          type: string
          enum: [regular, emergency, initial, follow_up, terminal_care]
        performed_by:
          type: string
        status:
          type: string
          enum: [draft, in_progress, completed, cancelled]
        schedule_id:
          type: string
          format: uuid
        soap_content:
          type: object
        template_id:
          type: string
          format: uuid
        source_type:
          type: string
          enum: [manual, voice_to_text, ai_generated, template]
        audio_file_url:
          type: string

    MedicalRecordUpdateRequest:
      type: object
      properties:
        visit_ended_at:
          type: string
          format: date-time
        visit_type:
          type: string
          enum: [regular, emergency, initial, follow_up, terminal_care]
        status:
          type: string
          enum: [draft, in_progress, completed, cancelled]
        soap_content:
          type: object
        schedule_id:
          type: string
          format: uuid
        template_id:
          type: string
          format: uuid
        audio_file_url:
          type: string
        expected_version:
          type: integer
          description: 楽観的ロック用。現在のバージョン番号を指定

    CreateFromTemplateRequest:
      type: object
      required:
        - template_id
        - visit_started_at
        - visit_type
        - performed_by
      properties:
        template_id:
          type: string
          format: uuid
        visit_started_at:
          type: string
          format: date-time
        visit_type:
          type: string
          enum: [regular, emergency, initial, follow_up, terminal_care]
        performed_by:
          type: string
        initial_soap:
          type: object
          description: 初期SOAP内容（テンプレートとマージ）

    CopyAsMedicalRecordRequest:
      type: object
      required:
        - target_patient_id
        - visit_started_at
        - visit_type
        - performed_by
      properties:
        target_patient_id:
          type: string
          format: uuid
          description: コピー先患者ID
        visit_started_at:
          type: string
          format: date-time
        visit_type:
          type: string
          enum: [regular, emergency, initial, follow_up, terminal_care]
        performed_by:
          type: string
        modify_soap:
          type: object
          description: SOAP内容の変更（コピー元とマージ）

    MedicalRecordTemplate:
      type: object
      required:
        - template_id
        - template_name
        - soap_template
        - is_system_template
      properties:
        template_id:
          type: string
          format: uuid
        template_name:
          type: string
          description: テンプレート名
        template_description:
          type: string
          description: テンプレートの説明
        specialty:
          type: string
          description: 診療科（general, internal_medicine, neurology等）
        soap_template:
          type: object
          description: SOAP形式のテンプレート内容
        is_system_template:
          type: boolean
          description: システム提供テンプレートかどうか
        usage_count:
          type: integer
          description: 使用回数
        created_by:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        deleted:
          type: boolean

    MedicalRecordTemplateCreateRequest:
      type: object
      required:
        - template_name
        - soap_template
      properties:
        template_name:
          type: string
        template_description:
          type: string
        specialty:
          type: string
        soap_template:
          type: object
        is_system_template:
          type: boolean
          default: false

    MedicalRecordTemplateUpdateRequest:
      type: object
      properties:
        template_name:
          type: string
        template_description:
          type: string
        specialty:
          type: string
        soap_template:
          type: object

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: リクエスト不正
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: bad_request
            message: Invalid request parameters

    Unauthorized:
      description: 認証エラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or missing authentication token

    NotFound:
      description: リソースが見つかりません
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found

    Conflict:
      description: コンフリクト（楽観的ロック失敗等）
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: conflict
            message: Resource was modified by another user. Please refresh and try again.

    TooManyRequests:
      description: レート制限超過
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: rate_limit_exceeded
            message: Too many requests. Please try again later.

    InternalServerError:
      description: サーバーエラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: internal_server_error
            message: An unexpected error occurred
