openapi: 3.1.0
info:
  title: Visitas API
  version: 1.0.0
  description: |
    在宅医療特化型AIプラットフォーム「Visitas」のREST API仕様書

    ## 概要
    - **ベースURL**: `https://api.visitas.app/v1`
    - **認証方式**: Firebase Authentication (Bearer Token)
    - **レート制限**: 1000リクエスト/時

    ## セキュリティ
    - すべてのエンドポイントはHTTPS必須
    - 3省2ガイドライン準拠の医療情報保護
    - CMEK暗号化によるデータ保存

  contact:
    name: Visitas API Support
    email: api-support@visitas.app
  license:
    name: Proprietary

servers:
  - url: https://api.visitas.app/v1
    description: Production
  - url: https://staging-api.visitas.app/v1
    description: Staging
  - url: http://localhost:8080/v1
    description: Local Development

security:
  - BearerAuth: []

tags:
  - name: Patients
    description: 患者マスターデータ管理
  - name: Patient Identifiers
    description: 患者識別子管理 (マイナンバー、保険証番号等)
  - name: Social Profiles
    description: 患者社会的背景管理 (独居状況、介護者情報等)
  - name: Coverages
    description: 保険情報管理 (医療保険、介護保険、公費負担)
  - name: Medical Conditions
    description: 病名・既往歴管理 (FHIR準拠)
  - name: Allergy Intolerances
    description: アレルギー・副作用歴管理 (FHIR準拠)
  - name: Health
    description: ヘルスチェック

paths:
  /health:
    get:
      tags:
        - Health
      summary: ヘルスチェック
      description: APIサーバーの稼働状況を確認
      security: []
      responses:
        '200':
          description: サーバー正常
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  timestamp:
                    type: string
                    format: date-time
                  version:
                    type: string
                    example: 1.0.0

  /patients:
    get:
      tags:
        - Patients
      summary: 患者一覧取得
      description: |
        担当患者の一覧を取得します。
        Row-Level Securityにより、認証ユーザーに割り当てられた患者のみ取得可能。
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
        - name: offset
          in: query
          schema:
            type: integer
            default: 0
        - name: active
          in: query
          description: アクティブな患者のみ取得
          schema:
            type: boolean
            default: true
        - name: sort
          in: query
          schema:
            type: string
            enum: [name_kana, birth_date, created_at]
            default: name_kana
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Patient'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

    post:
      tags:
        - Patients
      summary: 患者登録
      description: 新規患者を登録します
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Patients
      summary: 患者詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    put:
      tags:
        - Patients
      summary: 患者情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatientUpdateRequest'
      responses:
        '200':
          description: 更新成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Patient'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

    delete:
      tags:
        - Patients
      summary: 患者削除 (論理削除)
      description: |
        患者データを論理削除します。
        医療法に基づき、物理削除は禁止されています。
      responses:
        '204':
          description: 削除成功
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'

  /patients/{patientId}/social-profiles:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Social Profiles
      summary: 社会的背景一覧取得
      parameters:
        - name: current_only
          in: query
          schema:
            type: boolean
            default: false
          description: 現在有効なプロファイルのみ取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  profiles:
                    type: array
                    items:
                      $ref: '#/components/schemas/SocialProfile'
                  total:
                    type: integer

    post:
      tags:
        - Social Profiles
      summary: 社会的背景登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialProfileCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  profile_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time
                  message:
                    type: string

  /patients/{patientId}/social-profiles/{profileId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: profileId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Social Profiles
      summary: 社会的背景詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SocialProfile'

    put:
      tags:
        - Social Profiles
      summary: 社会的背景更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SocialProfileUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Social Profiles
      summary: 社会的背景削除
      responses:
        '200':
          description: 削除成功

  /patients/{patientId}/coverages:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Coverages
      summary: 保険情報一覧取得
      parameters:
        - name: insurance_type
          in: query
          schema:
            type: string
            enum: [medical, long_term_care, public_expense]
        - name: active_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  coverages:
                    type: array
                    items:
                      $ref: '#/components/schemas/Coverage'
                  total:
                    type: integer

    post:
      tags:
        - Coverages
      summary: 保険情報登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  coverage_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /patients/{patientId}/coverages/{coverageId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: coverageId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Coverages
      summary: 保険情報詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Coverage'

    put:
      tags:
        - Coverages
      summary: 保険情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CoverageUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Coverages
      summary: 保険情報削除
      responses:
        '200':
          description: 削除成功

  /patients/{patientId}/conditions:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Medical Conditions
      summary: 病名・既往歴一覧取得
      parameters:
        - name: active_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  conditions:
                    type: array
                    items:
                      $ref: '#/components/schemas/MedicalCondition'
                  total:
                    type: integer

    post:
      tags:
        - Medical Conditions
      summary: 病名・既往歴登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalConditionCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  condition_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /patients/{patientId}/conditions/{conditionId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: conditionId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Medical Conditions
      summary: 病名詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MedicalCondition'

    put:
      tags:
        - Medical Conditions
      summary: 病名更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MedicalConditionUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Medical Conditions
      summary: 病名削除
      responses:
        '200':
          description: 削除成功

  /patients/{patientId}/allergies:
    parameters:
      - $ref: '#/components/parameters/PatientId'

    get:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報一覧取得
      parameters:
        - name: active_only
          in: query
          schema:
            type: boolean
            default: false
        - name: medication_only
          in: query
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  allergies:
                    type: array
                    items:
                      $ref: '#/components/schemas/AllergyIntolerance'
                  total:
                    type: integer

    post:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報登録
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyIntoleranceCreateRequest'
      responses:
        '201':
          description: 作成成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  allergy_id:
                    type: string
                  created_at:
                    type: string
                    format: date-time

  /patients/{patientId}/allergies/{allergyId}:
    parameters:
      - $ref: '#/components/parameters/PatientId'
      - name: allergyId
        in: path
        required: true
        schema:
          type: string

    get:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報詳細取得
      responses:
        '200':
          description: 成功
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AllergyIntolerance'

    put:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報更新
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AllergyIntoleranceUpdateRequest'
      responses:
        '200':
          description: 更新成功

    delete:
      tags:
        - Allergy Intolerances
      summary: アレルギー情報削除
      responses:
        '200':
          description: 削除成功

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Firebase ID Token

  parameters:
    PatientId:
      name: patientId
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: 患者ID (UUID v4)

  schemas:
    Patient:
      type: object
      required:
        - patient_id
        - name_history
        - birth_date
        - gender
      properties:
        patient_id:
          type: string
          format: uuid
          description: 患者ID
        name_history:
          type: array
          description: JSONB array of name records with validity periods
          items:
            $ref: '#/components/schemas/NameRecord'
        current_family_name:
          type: string
          description: Generated column from name_history
          readOnly: true
        current_given_name:
          type: string
          description: Generated column from name_history
          readOnly: true
        primary_phone:
          type: string
          description: Generated column from contact_points
          readOnly: true
        current_prefecture:
          type: string
          description: Generated column from addresses
          readOnly: true
        current_city:
          type: string
          description: Generated column from addresses
          readOnly: true
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        consent_status:
          type: string
          description: Consent management status
        consent_obtained_at:
          type: string
          format: date-time
        consent_withdrawn_at:
          type: string
          format: date-time
        deleted:
          type: boolean
          description: Soft delete flag
        deleted_at:
          type: string
          format: date-time
        deleted_reason:
          type: string
        created_at:
          type: string
          format: date-time
        created_by:
          type: string
        updated_at:
          type: string
          format: date-time
        updated_by:
          type: string

    NameRecord:
      type: object
      required:
        - family
        - given
        - valid_from
      properties:
        family:
          type: string
          example: 山田
          description: Family name (姓)
        given:
          type: string
          example: 太郎
          description: Given name (名)
        kana:
          type: string
          example: ヤマダ タロウ
          description: Kana reading
        valid_from:
          type: string
          format: date-time
          description: Start of validity period
        valid_to:
          type: string
          format: date-time
          description: End of validity period (null if current)
        change_reason:
          type: string
          description: Reason for name change (婚姻, 離婚, etc.)

    ContactPoint:
      type: object
      required:
        - system
        - value
        - rank
      properties:
        system:
          type: string
          enum: [phone, email, fax]
        value:
          type: string
        use:
          type: string
          enum: [home, work, mobile]
        rank:
          type: integer
          minimum: 1
          description: 1 = primary
        verified_at:
          type: string
          format: date-time

    Address:
      type: object
      required:
        - use
        - prefecture
        - city
        - line
        - valid_from
      properties:
        use:
          type: string
          enum: [home, billing]
          description: home or billing
        postal_code:
          type: string
        prefecture:
          type: string
        city:
          type: string
        line:
          type: string
          description: Street address
        building:
          type: string
        geolocation:
          $ref: '#/components/schemas/GeoLocation'
        access_instructions:
          type: string
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time

    GeoLocation:
      type: object
      required:
        - latitude
        - longitude
      properties:
        latitude:
          type: number
          format: double
          minimum: -90
          maximum: 90
        longitude:
          type: number
          format: double
          minimum: -180
          maximum: 180

    PatientCreateRequest:
      type: object
      required:
        - name
        - birth_date
        - gender
      properties:
        name:
          $ref: '#/components/schemas/NameRecord'
          description: Initial name record (will be stored in name_history)
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
        consent_status:
          type: string
        consent_obtained_at:
          type: string
          format: date-time

    PatientUpdateRequest:
      type: object
      properties:
        birth_date:
          type: string
          format: date
        gender:
          type: string
          enum: [male, female, other, unknown]
        blood_type:
          type: string
          enum: [A+, A-, B+, B-, O+, O-, AB+, AB-]
        add_name:
          $ref: '#/components/schemas/NameRecord'
          description: Add a new name to name_history
        contact_points:
          type: array
          items:
            $ref: '#/components/schemas/ContactPoint'
          description: Replace entire contact_points array
        add_contact_point:
          $ref: '#/components/schemas/ContactPoint'
          description: Add a single contact point
        addresses:
          type: array
          items:
            $ref: '#/components/schemas/Address'
          description: Replace entire addresses array
        add_address:
          $ref: '#/components/schemas/Address'
          description: Add a single address
        consent_status:
          type: string
        consent_obtained_at:
          type: string
          format: date-time
        consent_withdrawn_at:
          type: string
          format: date-time

    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean

    SocialProfile:
      type: object
      required:
        - profile_id
        - patient_id
        - content
      properties:
        profile_id:
          type: string
        patient_id:
          type: string
        profile_version:
          type: integer
        content:
          type: object
          description: JSONB content with living situation, key persons, financial background
        lives_alone:
          type: boolean
          readOnly: true
        requires_caregiver_support:
          type: boolean
          readOnly: true
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        assessed_by:
          type: string
        assessed_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SocialProfileCreateRequest:
      type: object
      required:
        - patient_id
        - content
        - valid_from
      properties:
        patient_id:
          type: string
        content:
          type: object
        valid_from:
          type: string
          format: date-time
        assessed_by:
          type: string
        assessed_at:
          type: string
          format: date-time

    SocialProfileUpdateRequest:
      type: object
      properties:
        content:
          type: object
        valid_to:
          type: string
          format: date-time
        assessment_notes:
          type: string

    Coverage:
      type: object
      required:
        - coverage_id
        - patient_id
        - insurance_type
        - details
      properties:
        coverage_id:
          type: string
        patient_id:
          type: string
        insurance_type:
          type: string
          enum: [medical, long_term_care, public_expense]
        details:
          type: object
          description: JSONB insurance details
        care_level_code:
          type: string
          readOnly: true
        copay_rate:
          type: integer
          readOnly: true
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        status:
          type: string
          enum: [active, expired, suspended, terminated]
        priority:
          type: integer
          minimum: 1
        verification_status:
          type: string
        verified_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CoverageCreateRequest:
      type: object
      required:
        - patient_id
        - insurance_type
        - details
        - valid_from
        - status
        - priority
      properties:
        patient_id:
          type: string
        insurance_type:
          type: string
          enum: [medical, long_term_care, public_expense]
        details:
          type: object
        valid_from:
          type: string
          format: date-time
        valid_to:
          type: string
          format: date-time
        status:
          type: string
        priority:
          type: integer

    CoverageUpdateRequest:
      type: object
      properties:
        details:
          type: object
        valid_to:
          type: string
          format: date-time
        status:
          type: string
        priority:
          type: integer
        verification_status:
          type: string

    MedicalCondition:
      type: object
      required:
        - condition_id
        - patient_id
        - clinical_status
        - verification_status
        - display_name
      properties:
        condition_id:
          type: string
        patient_id:
          type: string
        clinical_status:
          type: string
          enum: [active, recurrence, relapse, inactive, remission, resolved]
        verification_status:
          type: string
          enum: [unconfirmed, provisional, differential, confirmed, refuted, entered-in-error]
        category:
          type: string
        severity:
          type: string
          enum: [mild, moderate, severe, life-threatening]
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        body_site:
          type: string
        onset_date:
          type: string
          format: date
        onset_age:
          type: integer
        abatement_date:
          type: string
          format: date
        clinical_notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MedicalConditionCreateRequest:
      type: object
      required:
        - patient_id
        - clinical_status
        - verification_status
        - display_name
      properties:
        patient_id:
          type: string
        clinical_status:
          type: string
        verification_status:
          type: string
        category:
          type: string
        severity:
          type: string
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        onset_date:
          type: string
          format: date
        clinical_notes:
          type: string

    MedicalConditionUpdateRequest:
      type: object
      properties:
        clinical_status:
          type: string
        verification_status:
          type: string
        severity:
          type: string
        abatement_date:
          type: string
          format: date
        clinical_notes:
          type: string

    AllergyIntolerance:
      type: object
      required:
        - allergy_id
        - patient_id
        - clinical_status
        - verification_status
        - type
        - category
        - criticality
        - display_name
      properties:
        allergy_id:
          type: string
        patient_id:
          type: string
        clinical_status:
          type: string
          enum: [active, inactive, resolved]
        verification_status:
          type: string
          enum: [unconfirmed, confirmed, refuted]
        type:
          type: string
          enum: [allergy, intolerance]
        category:
          type: string
          enum: [food, medication, environment, biologic]
        criticality:
          type: string
          enum: [low, high, unable-to-assess]
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        reactions:
          type: array
          items:
            type: object
        max_severity:
          type: string
          readOnly: true
        onset_date:
          type: string
          format: date
        last_occurrence_date:
          type: string
          format: date
        clinical_notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    AllergyIntoleranceCreateRequest:
      type: object
      required:
        - patient_id
        - clinical_status
        - verification_status
        - type
        - category
        - criticality
        - display_name
      properties:
        patient_id:
          type: string
        clinical_status:
          type: string
        verification_status:
          type: string
        type:
          type: string
        category:
          type: string
        criticality:
          type: string
        code_system:
          type: string
        code:
          type: string
        display_name:
          type: string
        reactions:
          type: array
          items:
            type: object
        onset_date:
          type: string
          format: date
        clinical_notes:
          type: string

    AllergyIntoleranceUpdateRequest:
      type: object
      properties:
        clinical_status:
          type: string
        verification_status:
          type: string
        criticality:
          type: string
        reactions:
          type: array
          items:
            type: object
        last_occurrence_date:
          type: string
          format: date
        clinical_notes:
          type: string

    Error:
      type: object
      required:
        - error
        - message
      properties:
        error:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: リクエスト不正
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: bad_request
            message: Invalid request parameters

    Unauthorized:
      description: 認証エラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: unauthorized
            message: Invalid or missing authentication token

    NotFound:
      description: リソースが見つかりません
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not_found
            message: Resource not found

    InternalServerError:
      description: サーバーエラー
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: internal_server_error
            message: An unexpected error occurred
